<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Stock ticker!</title>
	
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h1>Clearly the best historical stock tracker of all time!</h1>
		  <h1> </h1>
			{% block content %}
				<h3>Input stock symbol, month, and year (before April 2018) to see stock closing price by date</h3>
				<form action="" method="post" novalidate>
					{{ form.hidden_tag() }}
					<p>
						{{ form.symbol.label }}<br>
						{{ form.symbol(size=10) }}
					</p>
					<p>
						{{ form.month.label }}<br>
						{{ form.month(size=10) }}
					</p>
					<p>{{ form.year.label }}<br>
					   {{ form.year(size=10) }} </p>
					<p>{{ form.submit() }}</p>
				</form>
			{% endblock %}
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>